footer {
    padding-top: 65px;
    padding-bottom: 110px;
    background: transparent url("../img/footer.png") no-repeat left bottom;
}
@media (max-width: 992px) {
    footer {
        padding-top: 30px;
        background-position: -175px bottom
    }
}
.footer__logo {
    margin-bottom: 10px
}
.footer__text {
    font-size: 20px;
    font-weight: 500;
    color: #47a28a;
    margin-right: 25px
}
@media (max-width: 768px) {
    .footer__text {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .footer__small-menu {
        padding-left: 0
    }
}
.footer__title {
    color: #47a28a;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 10px;
}
.footer__soc {
    display: flex
}
.footer__soc .round-button {
    margin-right: 10px
}
@media (max-width: 768px) {
    .footer__title {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}
.footer__item,
.footer__link {
    color: #606060;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .footer__item,
    .footer__link {
        font-size: 16px;
    }
}
