header {
    display: table;
    width: 100%;
    padding-top: 15px
}

.header__row {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px
}
@media (max-width: 1200px) {
    .header__row {
        width: 100%!important
    }
}
@media (max-width: 768px) {
    .header__row {
        display: block
    }
}

.header__row:before,
.header__row:after {
    display: none;
}

.header__center {
    width: 100%;
    max-width: 830px;
    margin-top: 15px
}
@media (max-width: 768px) {
    .header__center {
        float: left;
        width: calc(100% - 45px);
    }
}
.header__right {
    width: 50px;
    padding-right: 15px
}
@media (max-width: 768px) {
    .header__right {
        float: right;
        width: 35px;
        margin-top: 15px;
        padding-right: 0
    }
}
.round-button {
    display: block;
    position: relative;
    background-color: #47a28a;
    width: 33px; height: 33px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}
.round-button:first-of-type {
    margin-bottom: 13px;
}
.round-button:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 0 3px #b6dad0;
}
.round-button__ico {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px; height: 15px;
    color: #fff
}
.round-button__ico svg {
    display: block
}

.top-contacts {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

@media (max-width: 992px) {
    .top-contacts {
        flex-direction: column;
        padding-left: 15px
    }
}
@media (max-width: 768px) {
    .top-contacts {
        flex-direction: column-reverse;
        padding-left: 0
    }
}
.top-contacts__left {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 40px;
}
@media (max-width: 992px) {
    .top-contacts__left {
        flex-direction: column
    }
    .top-contacts__left .top-contacts__text br {
        display: none
    }
}
@media (max-width: 768px) {
    .top-contacts__left {
        width: 100%;
        margin-right: 0;
        margin-left: 22px;
        flex-direction: row
    }
}
.top-contacts__item {
    display: flex;
}
.top-contacts__right {
    width: 325px;
}
@media (max-width: 768px) {
    .top-contacts__right {
        width: 100%;
    }
}
.top-contacts__ico {
    margin-right: 8px;
}
.top-contacts__text {
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 700;
    color: #969696;
    flex-direction: column;
}
@media (max-width: 768px) {
    .top-contacts__text {
        width: 100%;
    }
}
.top-contacts__text--second {
    line-height: 21px;
    margin-top: -2px;
}
.top-contacts__text-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center
}
@media (max-width: 768px) {
    .top-contacts__text-row {
        margin-bottom: 15px;
    }
}
.top-contacts__text-row--second {
    margin-bottom: 5px
}
@media (max-width: 768px) {
    .top-contacts__text-row--second {
        font-size: 12px;
        margin-bottom: 15px;
    }
}
.top-contacts__text-row__left {
    color: #969696;
    font-weight: 700;
    font-size: 12px
}
.top-contacts__text-row__left--second {
    color: #333;
    text-transform: uppercase;
}
.top-contacts__text-row__right {
    color: #333
}
@media (max-width: 768px) {
    .top-contacts__text-row__right {
        font-size: 12px;
    }
}
.top-contacts__text-row__right--second {
    color: #47a28a;
    font-size: 22px;
    font-weight: 600;
    line-height: 19px;
}
@media (max-width: 768px) {
    .top-contacts__text-row__right--second {
        font-size: 16px;
    }
}
.menu-bt {
    width: 68px; height: 60px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background: #37806d url("../img/menu_bt.png") no-repeat center;
}
.search-bt {
    position:relative;
    width: 68px; height: 60px;
    border-left: 1px solid #fff;
}
.search-bt .sprite {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.menu-line {
    background-color: #47a28a;
}
.menu-line__inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}
@media (max-width: 1200px) {
    .menu-line__inner {
        width: 100%
    }
}
.main-menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    padding: 0 10px
}
.main-menu__link {
    line-height: 60px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
@media (max-width: 992px) {
    .main-menu__link {
        font-size:12px
    }
}
.main-menu__link:hover {
    color: #fff;
    text-decoration: none;
}
