html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%;
}
body {
	line-height: 1;
    font-size: 16px;
    color: #424547;
    font-family: 'HelveticaNeue';
    font-weight:400;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {outline:none}

a {color:#2da18f}
a:hover,
a:focus {
    color:#2da18f;
    outline:none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

svg {
	min-width: 100%;
	min-height: 100%;
	fill: currentcolor;
}

.section-bg {
	padding: 65px 0 25px;
}
.section-bg--no-top {
    padding-top: 0
}
.section-bg--buttons .article-list__buttons {
    margin-bottom: 30px
}
.section-bg--buttons .article-list__sub-title {
    margin-bottom: 0
}

@media (max-width: 768px) {
    .section-bg {
        padding: 35px 0 25px;
    }
    .section--testimonials {
        padding-top: 0
    }
}
.bg-grey {
	background-color: #f2f4f7;
}
@media (max-width: 768px) {
    .bg-grey {
        background-color: #fff;
    }
}
.bg-green {
	background: transparent url("../img/aticle-bg.jpg") no-repeat center;
	background-size:cover;
}
.bg-color {
	background: transparent url("../img/color-bg.jpg") no-repeat center;
	background-size:cover;
}
.bg-color2 {
    background: transparent url("../img/color2-bg.jpg") no-repeat center;
	background-size:cover;
}
.bg-video {
	background: transparent url("../img/video-bg.jpg") no-repeat center;
	background-size:cover;
}

.bt {
	display: block;
	margin: 0; padding: 0;
	border: 0;
	color: #fff;
	text-decoration: none;
	width: 100%;
	max-width: 190px;
	padding: 0 10px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	border-radius: 40px;
	text-transform: uppercase;
}
.bt.bt-small {
    max-width: 150px;
}
.bt.bt-primary {
	color: #fff;
	background-color: #47a28a;
}
.bt.bt-empty {
	color: #47a28a;
    border: 1px solid #47a28a;
}
.bt.bt-empty:hover {
	color: #fff;
	background-color: #47a28a;
}
.bt-empty--white {
    color: #fff;
    border: 1px solid #fff;
}
.bt-empty--white:hover {
    color: #47a28a;
    background-color: #fff
}
.bt-white {
	display: table;
	border-bottom: 7px solid #357f6c;
	border-radius: 21px;
}
.bt-white__inner {
	display: block;
	line-height: 70px;
	height: 70px;
	color: #47a28a;
	font-size: 25px;
	font-weight: 500;
	border-radius: 15px;
	padding: 0 20px;
	border: solid 1px #357f6c;
	text-align: center;
}

@media (max-width: 992px) {
    .bt-white__inner {
        font-size: 15px
    }
}
@media (max-width: 768px) {
    .bt-white__inner {
        height: 45px;
        line-height: 45px;
        font-size: 14px
    }
}
.bt-white:hover {
	color: #fff;
	text-decoration: none;
}
.bt-white:hover .bt-white__inner {
	color: #fff;
	background-color: #47a28a;
}
.bt:hover {
	opacity: .8;
	text-decoration: none;
}

.main-slider {
	width: 100%;
	position: relative;
}
.main-slider .main-slider__slide {
    position: relative
}
.main-slider .slider-arrows {
    width: 1340px;
    max-width: 100%;
}

.main-slider .main-slider__text-wrap {
    width: 1155px;
    max-width: 100%;
    position: absolute;
    top: 35%; left: 50%;
    transform: translate(-50%, -50%);
}
.main-slider .main-slider__text {
    font-style: italic;
    color: #37806d;
    font-size: 30px;
    width: 480px;
    max-width: 100%;
}
.main-slider__text--desc {
    position: relative;
    padding: 25px 55px;
}
.main-slider__text--title {
    margin-top: 15px;
    text-align: right;
    font-size: 35px;
    padding-right: 50px;
}
.main-slider__quotes__left,
.main-slider__quotes__right {
    position: absolute;
    width: 50px; height: 37px
}
.main-slider__quotes__left {
    left: 0; top: 0;
}
.main-slider__quotes__right {
    right: 0; bottom: 0;
}
@media (max-width: 992px) {
    .main-slider .main-slider__text {
        font-size: 20px;
        width: 360px;
    }
    .main-slider__text--title {
        font-size: 25px;
        padding-right: 40px;
        margin-top: 0;
    }
    .main-slider__quotes__left,
    .main-slider__quotes__right {
        width: 40px;
    }
    .main-slider__text--desc {
        position: relative;
        padding: 20px 45px;
    }
    .main-slider__text--desc br {
        display: none
    }
}
@media (max-width: 768px) {
    .main-slider .main-slider__text {
        font-size: 12px;
        width: 200px;
    }
    .main-slider__text--title {
        font-size: 15px;
        padding-right: 30px;
    }
    .main-slider__quotes__left,
    .main-slider__quotes__right {
        width: 30px;
    }
    .main-slider__text--desc {
        position: relative;
        padding: 15px 35px;
    }
}
.main-article {
	margin: -65px -15px 0;
	padding-bottom: 45px;
	position: relative;
	z-index: 1;
}
@media (max-width: 992px) {
    .main-article {
        margin: 0;
    }
}
.main-article__inner {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 992px) {
    .main-article__inner {
        flex-direction: column;
        margin-top: 45px;
    }
}
.main-article__inner--second {
	background-color: #fff;
}
@media (max-width: 992px) {
    .main-article__inner--second {
        margin-top: 0;
        padding-bottom: 30px;
    }
    .main-article__inner--second .main-article__img {
        width: 100%
    }
}
.main-article--second {
	margin-top: 0;
	padding: 70px 0 70px;
}

@media (max-width: 992px) {
    .main-article--second {
        margin-top: 0;
        padding: 35px 0 30px;
    }
}

.main-article__img {
	width: 100%;
	max-width: 570px;
	border: 10px solid #fff;
}
@media (max-width: 992px) {
    .main-article__img {
        width: 75%;
        margin: 0 auto;
    }
}
.main-article__img img {
	float: left;
}
.main-article__container {
	width: 100%; min-height: 100%;
	max-width: 550px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-article__container--second {
    max-width: 570px;
	padding: 0 30px 0 0;
}
@media (max-width: 992px) {
    .main-article__container--second {
        max-width: 100%;
        padding: 0;
    }
}
.main-article__container .bt {
	float: right;
}
@media (max-width: 992px) {
    .main-article__container .bt {
        float: none;
        display: table;
        margin: 0 auto;
    }
}
.main-article__sub-title {
	color: #838c96;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 70px;
}
@media (max-width: 992px) {
    .main-article__sub-title {
        margin-top: 15px;
        font-size: 14px;
        text-align: center
    }
}
.main-article__sub-title--second {
	color: #333;
	font-size: 25px;
	margin-bottom: 15px;
	margin-top: 0;
	text-transform: none;
}
@media (max-width: 992px) {
    .main-article__sub-title--second {
        text-align: left;
        padding-left: 25px;
        font-size: 18px
    }
}
.main-article__title {
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 25px;
}
@media (max-width: 992px) {
    .main-article__title {
        font-size: 22px;
        text-align: center;
        margin-bottom: 15px;
    }
}
.main-article__title--second {
	font-size: 45px;
	color: #fff;
	text-align: center;
	font-weight: 400;
	margin-bottom: 60px;
}
@media (max-width: 992px) {
    .main-article__title--second {
        font-size: 22px;
        color: #fff;
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
    }
}
.main-article__desc {
	font-size: 19px;
	line-height: 22px;
	margin-bottom: 10px;
}
@media (max-width: 992px) {
    .main-article__desc {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
        padding: 0 5px
    }
}
.main-article__desc--second {
    padding: 0 25px
}

.article-list {
    margin: 0 -55px
}
.article-list__title2 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}
@media (max-width: 992px) {
    .article-list {
        margin: 0
    }
}
.article-list__buttons {
	display: flex;
	justify-content: space-between;
	margin:0 0 60px;
}
@media (max-width: 768px) {
    .article-list__buttons {
        width: 82%;
        margin: 0 auto 20px;
        flex-direction: column;
        align-items: center;
    }
    .article-list__buttons .bt-white {
        margin-bottom: 10px
    }
}

.article-list .bt {
	margin-top: 17px;
}
@media (max-width: 768px) {
    .article-list .bt {
        display: table;
        margin: 0 auto;
    }
}
.article-list__buttons .bt-white {
	min-width: 32%;
    background-color: #fff
}
@media (max-width: 768px) {
    .article-list__buttons .bt-white {
        width: 100%;
    }
}
.article-list__title {
	font-size: 45px;
	margin-bottom: 35px;
	text-align: center;
}
.article-list__title--white {
    color: #fff
}
.article-list__title--left {
    text-align: left
}
.news-list__title {
	font-size: 40px;
	margin-bottom: 25px;
}
@media (max-width: 768px) {
    .article-list__title {
        font-size: 22px;
        margin-bottom: 15px;
        text-align: center;
    }
}
.article-list__sub-title {
	font-size: 30px;
	margin-bottom: 35px;
	text-align: center;
    color: #363636;
}
.article-list__sub-title--white {
    color: #fff;
}
.article-list__item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: #333;
}
@media (max-width: 768px) {
    .article-list__item {
        width: 80%;
        margin: 0 auto 15px;
    }
}
.article-list__img {
	position: relative;
	border: 2px solid rgb(224, 224, 224);
	border-radius: 50%;
	min-width: 60px; min-height: 60px;
	margin-right: 15px;
}
.article-list__text {
    font-size: 23px;
    font-weight: 500
}
@media (max-width: 768px) {
    .article-list__text {
        font-size: 16px;
        font-weight: 500
    }
}
.article-list__ico {
	position: absolute;
	top: 4px; right: 4px; bottom: 4px; left: 4px;
	border-radius: 50%;
	background-color: #fff;
}
.article-list__ico svg {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	min-width: auto;
	min-height: auto;
	fill: #333333;
}
@media (max-width: 768px) {
    .article-list__ico svg {
        width: 30px;
    }
}
.article-list__ico--second svg {
	fill: none!important;
	stroke: #333333!important;
}
.article-list__item:hover {
	color: #333;
	text-decoration: none;
}
.article-list__item:hover .article-list__img {
	border-color: #fff;
}
.article-list__item:hover .article-list__ico {
	background-color: #47a28a;
}
.article-list__item:hover .article-list__ico svg {
	fill: #ffffff;
}
.article-list__item:hover .article-list__ico--second svg {
	fill: none!important;
	stroke: #ffffff!important;
}

.article-list--second .article-list__ico {
	background-color: #f2f4f7;
}
.article-list--second .article-list__item:hover .article-list__img {
	border-color: #e1e1e1;
}

.second-slider {
    position: relative;
}
.second-slider .slider-arrows {
    top: 35%;
}
.second-slider .slider-arrows .slick-arrow.slick-arrow--left {
    left: -90px
}
.second-slider .slider-arrows .slick-arrow.slick-arrow--right {
    right: -90px
}
.slider__title {
	font-size: 45px;
	text-align: center;
	margin-bottom: 50px;
}
.slider__title--white {
    color: #fff;
}
@media (max-width: 768px) {
    .slider__title {
        font-size: 22px;
        margin-bottom: 20px;
    }
}
.second-slider__inner {
	padding-bottom: 65px;
}
.second-slider--marg .second-slider__inner {
    padding-bottom: 10px
}
@media (max-width: 768px) {
    .second-slider__inner {
        padding-bottom: 35px;
    }
}
.second-slider__img {
	margin-bottom: 20px;
}
.second-slider__slide {
	padding: 1px 1px 23px;
	margin: 0 9px;
	background-color: #ffffff;
	text-align: center;
}
.second-slider__content {
	position: relative;
	padding-bottom: 25px;
}
.second-slider__content:before {
	content: '';
	position: absolute;
	width: 60px; height: 2px;
	bottom: 0; left: 50%;
	margin-left: -30px;
	background-color: #47a28a;
}
.second-slider__title {
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 700;
	text-transform: uppercase;
}
@media (max-width: 768px) {
    .second-slider__title {
        font-size: 16px;
    }
    .second-slider__desc {
        font-size: 14px
    }
}
.second-slider__desc {
	font-weight: 500;
	text-transform: uppercase;
	color: #929292;
}
.second-slider__slide img {
	width: 100%;
}

.ui-datepicker {
	width: 100%;
	display: none;
}
#ui-datepicker-div {
    width: 270px;
}
.ui-datepicker .ui-datepicker-header {
	background-color: #47a28a;
	position: relative;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 19px;
	width: 1.8em;
	height: 1.8em;
}
.sidebar .ui-datepicker .ui-datepicker-prev,
.sidebar .ui-datepicker .ui-datepicker-next,
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next {
	position: absolute;
	top: 7px;
	width: 1.1em;
	height: 1.1em;
}
@media (max-width: 768px) {
    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
        top: 11px;
    }
}

.ui-datepicker .ui-datepicker-prev {
	left: 5px;
}
.ui-datepicker .ui-datepicker-next {
	right: 5px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 3px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 3px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	color: #fff;
	font-size: 18px;
	line-height: 65px;
	text-align: center;
}
.sidebar .ui-datepicker .ui-datepicker-title,
#ui-datepicker-div .ui-datepicker-title {
	line-height: 32px;
}
@media (max-width: 768px) {
    .ui-datepicker .ui-datepicker-title {
        font-size: 18px;
        line-height: 50px;
    }
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
}
.sidebar .ui-datepicker td span,
.sidebar .ui-datepicker td a,
#ui-datepicker-div td span,
#ui-datepicker-div td a {
    line-height: 35px;
}
@media (max-width: 768px) {
    .ui-datepicker td span,
    .ui-datepicker td a {
        line-height: 45px;
    }
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}

.ui-datepicker-calendar {
	table-layout: fixed;

}
.ui-datepicker-calendar thead {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
    background-color: #fff;
}
.ui-datepicker-calendar tbody {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.ui-datepicker-calendar tbody td {
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0;
}

.ui-datepicker-calendar a {
	text-align: center;
}
.ui-datepicker-calendar a.ui-state-default {
	color: #000;
    font-weight: bold
}
.ui-datepicker-calendar a.ui-state-active {
	color: #47a28a;
    font-weight: bold;
	background-color: #fff;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
	display: none;
}
.ui-datepicker-prev {
	background: transparent url("../img/arrow-left.png") no-repeat center;
}
.ui-datepicker-next {
	background: transparent url("../img/arrow-right.png") no-repeat center;
}

.calendar {}
.calendar__title {
	font-size: 45px;
	margin-bottom: 60px;
	text-align: center;
}
@media (max-width: 768px) {
    .calendar__title {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
    }
}
.calendar__img {
	margin-top: -50px;
}
.calendar__inner {
	padding-top: 15px;
}
.calendar__input,
.calendar__select {
	width: 100%;
	border:1px solid #ddd;
	height: 48px;
	line-height: 48px;
	margin-bottom: 10px;
	padding-left: 25px;
	color: #999;
}
.calendar .bt {
	margin: 20px auto 15px;
}

#map {
	width: 100%;
	height: 300px;
}

.testimonials-slider {
    position: relative
}
.testimonials-slider .slider-arrows {
    top: 11%;
}
.testimonials-slider .slider-arrows .slick-arrow.slick-arrow--left {
    left: -90px
}
.testimonials-slider .slider-arrows .slick-arrow.slick-arrow--right {
    right: -90px
}

.testimonials-slider__inner {
	padding-bottom: 65px;
	margin: 0 -5px;
}
@media (max-width: 768px) {
    .testimonials-slider__inner {
        padding-bottom: 35px;
    }
}
.testimonials-slider__slide {
	padding: 0 5px;
}
.testimonials-slider__title {
    padding-bottom: 10px
}
.testimonials-slider__content {
	position: relative;
	background-color: #fff;
	padding: 35px 100px;
	margin-bottom: 25px;
}
.section--testimonials--white .testimonials-slider__content {
    background-color: #f2f4f7
}
.testimonials-slider__content .quotes__left {
	position: absolute;
	left: 30px; top: 30px;
	width: 20px; height: 15px;
	color: #47a28a;
}
.testimonials-slider__content .quotes__right {
	position: absolute;
	right: 30px; bottom: 30px;
	width: 20px; height: 15px;
	color: #47a28a;
}
.testimonials-slider__img {
	position: relative;
	width: 60px; height: 60px;
	border-radius: 50%;
	position: relative;
	border: 3px #ddd solid;
	overflow: hidden;
	margin-left: 25px;
}
.testimonials-slider__img img {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
}

.nb-pad {
    padding-bottom: 0
}

.small-article {}
.small-article--white {
    color: #fff
}
.small-article .small-article__bt {
    background-color: #fff;
    color: #47a28a
}
.small-article--slide {
    margin: 0 7px;
}
.small-article__image {
    margin-bottom: 15px
}
.small-article__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0
}
.small-article.slick-slide .small-article__title {
    margin-bottom: 15px
}
.small-article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    min-height: 225px;
}
.small-article.slick-slide .small-article__content {
    margin-bottom: 0
}
[data-slider="second-slider"] .small-article--slide .small-article__content {
    min-height: inherit
}
.small-article__desc {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px
}
.simple-article__inner {
    display: flex;
}
.simple-article__content {
    flex-grow: 1;
}
.simple-article__image {
    min-width: 490px;
    margin-right: -130px;
}
.simple-article__image img {
    vertical-align: middle
}
.simple-article__desc {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 80px;
}

.doctor-article {}
.doctor-article__content {}
.doctor-article__head {
    display: flex;
    justify-content: space-between;
}
.doctor-article__title {
    font-size: 28px;
    position: relative;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.doctor-article__title::before {
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 60px; height: 2px;
    background-color: #47a491
}
.doctor-article__desc {
    padding-top: 15px;
    max-width: 480px;
    font-size: 20px;
    line-height: 24px;
}
.doctor-article__desc strong {
    font-weight: 700!important
}
.doctor-article__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px
}
.doctor-article__buttons .bt {
    margin-left: 10px
}
.price {}
.price__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}
.price__item .article-list__item {
    margin-bottom: 0
}
.content {
    font-size: 18.5px
}
.content p {
    line-height: 24px;
    margin-bottom: 20px;
}

.container.space-ten {}
.container.space-ten .row {
    margin: 0 -5px
}
.container.space-ten .row > [class*="col-"] {
    padding: 0 5px
}

.doctor-list__select {
    margin-bottom: 10px
}
.doctor-list__select select {
    width: 100%;
    border: 1px solid #ddd;
    height: 48px;
    line-height: 48px;
    padding-left: 25px;
    color: #999;
}
.doctor-list__item {
    background-color: #f2f4f7;
    display: flex;
    margin: 10px 0
}
.doctor-list__img {
    width: 265px;
    max-width: 100%;
}
.doctor-list__img img {
    vertical-align: middle
}
.doctor-list__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px
}
.doctor-list__head {
    position: relative;
    padding-bottom: 15px;
}
.doctor-list__head::before {
    content: '';
    position: absolute;
    left: 0; bottom: 0;
    width: 60px; height: 2px;
    background-color: #6ba18a
}
.doctor-list__title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px
}
.doctor-list__sub-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #aeaeaf
}
.doctor-list__buttons {
    display: flex;
    justify-content: space-between
}
.doctor-list__buttons .bt {
    flex-basis: 45%
}
.search-page {
    margin-bottom: 40px
}
.search-page__item {
    margin-bottom: 35px
}
.search-page__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px
}
.search-page__content {
    font-size: 18px;
    margin-bottom: 20px
}

.paginator {
    display: table;
    margin: 0 auto
}
.paginator__item {
    float: left;
    margin: 0 5px;
}
.paginator__link:hover,
.paginator__item.paginator__item--current .paginator__link {
    background-color: #47a491;
    color: #fff;
    text-decoration: none;
}
.paginator__link {
    display: block;
    width: 40px; height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid #47a491;
    color: #47a491;
    text-align: center;
    font-weight: 700
}
.replies {
    margin:60px 0 40px
}
.replies-form {
    width: 100%;
    max-width: 645px;
    margin: 0 auto;
}
.replies-form__row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.replies-form__row--bt {
    justify-content: center;
}
.replies-form__col {
    flex-basis: 48%
}
.replies-form__text {
    width: 100%;
    border: 1px solid #ddd;
    height: 48px;
    line-height: 48px;
    padding-left: 25px;
    color: #999;
}
.replies-form__textarea {
    width: 100%;
    border: 1px solid #ddd;
    height: 140px;
    padding:15px 25px 0;
    color: #999;
}
.replies-form__row--bt .bt {
    width: 100%;
    max-width: 400px;
}
.replies__item {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 50px;
}
.replies__head {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.replies__title {
    font-size: 24px;
    font-weight: 700;
}
.replies__date {
    text-transform: uppercase
}
.replies__content {
    font-size: 18.5px;
    color: #363636;
    margin-bottom: 40px;
}
.replies__item--replay {
    position: relative;
    padding-left: 110px;
}
.replies__item--replay::before {
    content: '';
    position: absolute;
    left: 40px; top: -19px;
    width: 31px; height: 41px;
    background: transparent url("../img/replies-arrow.png") no-repeat left top;
}


.gallery {
    margin-bottom: 40px
}
.gallery-tabs {
    display: table;
    margin: 0 auto 50px;
}
.gallery-tabs__item {
    float: left;
    margin: 0 20px;
}
.gallery-tabs__link {
    color: #363636;
    font-size: 18px;
}
.gallery-tabs__link:hover,
.gallery-tabs__item.active .gallery-tabs__link {
    color: #47a491;
    text-decoration: none;
}


.gallery__item {
    margin-bottom: 30px
}
.gallery__item a {
    position: relative;
    display: block;
}
.gallery__item a:hover::before {
    content: attr(data-title);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: rgba(68,160,141,.7);
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery__item a img {
    width: 100%;
    vertical-align: middle;
}

.price-list {
    margin-bottom: 40px
}
.price-list__item {}
.price-list__item .price-list__bt .bt-white__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    border-radius: 18px;
    color: #fff;
}
.price-list__item .price-list__bt:hover .bt-white__inner {
    color: #47a28a;
    background-color: #fff;
}
.price-list__item .price-list__bt {
    width: 100%;
	color: #fff;
	background-color: #47a28a;
    margin-bottom: 15px;
}
.price-list__item .price-list__bt:hover {
    color: #fff;
    cursor: pointer;
}
.price-list__content {
    margin-top: 20px
}
.price-list__content__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px
}
.price-list__desc {
    margin-right: 50px;
    font-size: 23px;
    line-height: 30px;
}
.price-list__button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.contacts-page-item__title {
    font-size: 18px;
    font-weight: bold;
}
.contacts-page-item__sub-title {
    font-size: 18px;
    font-weight: bold;
    color: #47a28a;
    margin: 3px 0 15px;
}
.contacts-page-item__text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px
}
.contacts-page-item__mail {
    font-size: 16px;
    color: #47a28a;
}
.contacts-page-item__list {
    margin-top: 10px
}
.contacts-page-item__list li {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px
}
.contacts-page-item__list li.strong {
    font-size: 18px;
    color: #47a28a
}
.contacts-page .row {
    margin-bottom: 40px
}
.contacts-page-item__address {
    margin-top: 15px;
}
.contacts-page-item__address p {
    margin-bottom: 10px
}

.contact-form {
    width: 645px;
    max-width: 100%;
    margin: 0 auto;
}
.contact-form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .contact-form__row {
        margin-bottom: 10px;
    }
}
.contact-form__col {
    width: 48%
}
@media (max-width: 768px) {
    .contact-form__row {
        flex-direction: column
    }
    .contact-form__col {
        width: 100%;
    }
    .contact-form__col:not(:last-of-type) {
        margin-bottom: 10px
    }
    .contact-form__bt {
        margin-top: 20px
    }
}
.contact-form__text {
    width: 100%; height: 48px;
    border: 1px solid #ddd;
    line-height: 48px;
    margin-bottom: 10px;
    padding-left: 25px;
    color: #999;
}
.contact-form__textarea {
    width: 100%; height: 140px;
    border: 1px solid #ddd;
    padding: 15px 25px 0;
    color: #999;
}
.contact-form__bt {
    padding: 0 10px;
}
.contact-form__bt .bt {
    width: 400px;
    max-width: 100%;
    margin: 0 auto
}
.contacts-page #map {
    height: 520px;
}
.contacts-page__content {
    font-size: 22px;
    line-height: 1.2
}

.top-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.top-filter__item {
    width: 320px
}
.top-filter__select {
    width: 100%; height: 48px;
    border: 1px solid #ddd;
    line-height: 48px;
    padding-left: 25px;
    color: #999;
}
.store-article__item {
    margin-bottom: 75px;
}
.store-article__img {}
.store-article__head {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.store-article__autor {
    text-transform: uppercase
}
.store-article__instore {
    color: #47a491
}
.store-article__outstore {
    color: red
}
.store-article__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px
}
.store-article__desc {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.3
}
.store-article__buttons {
    display: flex;
    align-items: center
}
.store-price {
    font-size: 25px;
    font-weight: bold;
    margin-right: 35px;
}
.store-content {
    font-size: 18px;
    margin-top: 60px;
}
.store-content p {
    margin-bottom: 25px;
}
.store-content p strong {
    font-weight: bold;
}
.store-content ul,
.store-content ol {
    margin:0 0 25px 55px
}
.store-content ul li,
.store-content ol li {
    margin-bottom: 5px
}
.store-content ul {
    list-style-type: disc
}
.store-content ol {
    list-style-type: decimal
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.breadcrumbs li {
    color: #787878;
    font-size: 14px;
    margin-right: 4px;
    display: flex;
    align-items: center;
}
.breadcrumbs li:not(:last-of-type) {

}
.breadcrumbs li:not(:first-of-type)::before {
    display: block;
    content: '';
    width: 6px; height: 4px;
    margin-right: 4px;
    background: transparent url('../img/breadcrumbs-arrow.png') no-repeat left top;
}

.check {
    display: flex;
    align-items: center
}
.check label {
    position: relative;
    overflow: hidden;
    width: 18px; height: 18px;
    margin-right: 15px;
}
.check label input {
    position: absolute;
    left: -9999px;
}
.check label span {
    display: block;
    width: 16px; height: 16px;
    border: 1px solid #d8d8d8;
}
.check label input:checked + span {
    background: transparent url('../img/check.png') no-repeat left top;
}
.check__text {
    font-size: 20px;
}

@media (min-width: 996px) {
    .sidebar {
        margin-bottom: 70px;
    }
}
.sidebar {
    margin-top: 10px
}
.sidebar__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.sidebar__category-list {
    margin-bottom: 40px;
}
.sidebar__category-list li:not(:last-of-type) {
    margin-bottom: 12px;
}
.sidebar__tagscloud {
    text-align: center;
    margin-bottom: 40px;
}
.sidebar__tagscloud a {
    line-height: 1.2
}

.container--with-sidebar {
    margin: 20px auto 50px;
}
@media (min-width: 996px) {
    .news__img {
        padding-right: 0
    }
    .news__content {
        padding-left: 30px
    }
}
.news-item {
    margin-bottom: 45px;
}
.news__title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
}
.news__sub-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.news__date {
    font-size: 14px;
    text-transform: uppercase;
}
.news__category {
    font-size: 17px;
    color: #47a491
}
.news__desc {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px
}
.news-one .news__sub-title {
    margin-bottom: 40px
}


.pagination-second {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.pagination-second__content {}
.pagination-second__title {
    font-size: 18px;
    font-weight: bold;
    color: #363636;
    margin-bottom: 8px;
    line-height: 16px;
}
.pagination-second__desc {
    font-size: 14px;
    color: #000;
    text-transform: uppercase
}
.pagination-second__item {
    display: flex;
    align-items: center
}
.pagination-second__item:hover {
    text-decoration: none
}
.pagination-second__ico {
    width: 40px
}
.pagination-second__item-left .pagination-second__ico {
    margin-right: 20px
}
.pagination-second__item-right .pagination-second__ico {
    margin-left: 20px
}

.modal-form {
    display: none;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
}
.mfp-content .modal-form {
    display: block
}
.modal-form--second {
    width: 400px
}
.modal-form .modal__header {
    display: flex;
    border-bottom: 1px solid #47a28a;
    margin-bottom: 20px;
    padding-bottom: 5px;
    align-items: flex-end;
    justify-content: space-between
}
.modal-form .modal__header-title {
    font-size: 1.5rem
}
.modal__row {
    display: flex;
    justify-content: space-between
}
.modal__row--buttons {
    margin-top: 10px;
    justify-content: center;
}
.modal__col {
    width: 48%;
}
.modal__item {
    width: 100%;
    margin-bottom: 10px;
}
.modal__item label {
    color: #444;
    margin-bottom: 3px;
}

.modal__item .modal__text,
.modal__item .modal__select {
    width: 100%;
    border: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #999;
}
.modal__item .modal__textarea {
    width: 100%;
    border: 1px solid #ddd;
    height: 89px;
    padding: 10px 0 0 10px;
    color: #999;
}





.nav {
  padding: 25px 25px 0;
  position: fixed;
  top: -1400px;
  background-color: rgba(31,96,83,.9);
  -webkit-transition: top 0.6s ease;
  transition: top 0.6s ease;
  width: 355px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 10000;
}

.nav--active {
  position: fixed;
  top: 0;
}

.nav__close {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px; top: 10px;
    width: 13px; height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13px' height='13px'%3E%3Cpath fill-rule='evenodd' fill='rgb%28255, 255, 255%29' d='M0.002,11.225 L11.225,0.002 L12.997,1.774 L1.774,12.997 L0.002,11.225 Z'/%3E%3Cpath fill-rule='evenodd' fill='rgb%28255, 255, 255%29' d='M12.762,10.940 L2.059,0.237 L0.238,2.059 L10.941,12.762 L12.762,10.940 Z'/%3E%3C/svg%3E");
}

.nav__title {
    font-size: 16px;
    color: #c2fff0;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #97c8bb
}

.nav__list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 30px
}

.nav__list > .nav__item > .nav__link {
    font-weight: 600;
    text-transform: uppercase
}
.nav__list > .nav__item > .nav__link:hover,
.nav__list > .nav__item > .nav__link:focus {
    text-decoration: none!important
}

.nav__item {
  margin-bottom: 10px;
  padding-left: 15px;
  text-align: left;
}

.nav__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.nav__link:hover,
.nav__link:focus {
    color: #fff;
}

.nav__link--plus::after,
.nav__link--minus::after {
  content: '';
  position: absolute;
  top: 5px; left: -15px;
  width: 10px; height: 7px;
  transition: all .5s;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.5px' height='6.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb%28255, 255, 255%29' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M7.842,1.492 L4.500,5.024 L1.158,1.492 '/%3E%3C/svg%3E");
}

.nav__link--plus::after {}

.nav__link--minus::after {
    transform: rotateZ(180deg);
    transition: all .5s
}

.nav__sub-list {
  padding: 15px;
  displaY: none;
  list-style: none;
  padding-left: 10px;
}

.nav__sub-list--active { display: block; }

.nav__sub-item .nav__link {
    position: relative;
    display: block;
}
.nav__sub-item .nav__link::after {
    content: '';
    position: absolute;
    left: -20px; top: 50%;
    transform: translate(0,-50%);
    width: 10px; height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.5px' height='8.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb%28255, 255, 255%29' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M4.838,0.501 L8.499,3.999 L4.838,7.498 '/%3E%3Cpath fill-rule='evenodd' stroke='rgb%28255, 255, 255%29' stroke-width='1px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M1.838,0.501 L5.498,3.999 L1.838,7.498 '/%3E%3C/svg%3E");
}

.nav__sub-item:not(:last-child) {padding-bottom: 10px;}
